/* Button style */
#pluginAppObj_44_86 .pluginAppObj_44_86-button {
    width: 85px;
    height: 60px;
    color: rgba(64, 64, 64, 1);
    background-color: rgba(255, 255, 192, 1);
    background-repeat: no-repeat;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    max-width: 100%;
    text-decoration: none;
    line-height: 18px;
    overflow: hidden;
}

#pluginAppObj_44_86 .btn-tdiv{
    display: table;
    width: 100%;
    height: 100%;
}
#pluginAppObj_44_86 .btn-trdiv{
    display: table-row;
    width: 100%;
    height: 100%;
}
#pluginAppObj_44_86 .btn-tcdiv{
    display: table-cell;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale(1.0);
    transform:  scale(1.0);
    -webkit-font-smoothing: subpixel-antialiased;
}

/* Background effect color */
#pluginAppObj_44_86 .bg-effect-style.hvr-sweep-to-right:before {
    background: rgba(185, 185, 0, 1);
}

/* Background effect: 'Background fade' fix (no ::before element)*/
#pluginAppObj_44_86 .hvr-fade:hover,
#pluginAppObj_44_86 .hvr-fade:focus,
#pluginAppObj_44_86 .hvr-fade:active {
    background: rgba(185, 185, 0, 1);
    background-repeat: no-repeat;
}
#pluginAppObj_44_86 .hvr-back-pulse:hover, 
#pluginAppObj_44_86 .hvr-back-pulse:focus, 
#pluginAppObj_44_86 .hvr-back-pulse:active {
    background-color: rgba(185, 185, 0, 1);
}

/* Border effect color */
#pluginAppObj_44_86 .border-effect-style {
    box-shadow: inset 0 0 0 4px rgba(255, 255, 192, 1), 0 0 1px rgba(0, 0, 0, 0);
}

#pluginAppObj_44_86 .border-effect-style:before {
    border-color: rgba(185, 185, 0, 1);
    background: rgba(185, 185, 0, 1);
}

/* Border effect: fix (no background for these effects) */
#pluginAppObj_44_86 .hvr-ripple-out:before,
#pluginAppObj_44_86 .hvr-ripple-in:before,
#pluginAppObj_44_86 .hvr-outline-out:before,
#pluginAppObj_44_86 .hvr-outline-in:before,
#pluginAppObj_44_86 .hvr-trim:before {
    background: none !important;
}

/* Border effect: fix (no background for these effects) */
#pluginAppObj_44_86 .hvr-hollow:hover,
#pluginAppObj_44_86 .hvr-hollow:focus,
#pluginAppObj_44_86 .hvr-hollow:active{
    background: none !important;
    box-shadow: inset 0 0 0 4px rgba(185, 185, 0, 1), 0 0 1px rgba(0, 0, 0, 0);
}

/* Border effect fix (need original background) */
#pluginAppObj_44_86 .hvr-reveal:before{
    background: rgba(255, 255, 192, 1);
}

#pluginAppObj_44_86 .hvr-border-fade:hover, #pluginAppObj_44_86 .hvr-border-fade:focus, #pluginAppObj_44_86 .hvr-border-fade:active {
    box-shadow: inset 0 0 0 4px rgba(185, 185, 0, 1), 0 0 1px rgba(0, 0, 0, 0);
}

/*------ START CUSTOMIZING SHADOW COLOR -----------*/
#pluginAppObj_44_86 .hvr-glow:hover, #pluginAppObj_44_86 .hvr-glow:focus, #pluginAppObj_44_86 .hvr-glow:active {
  box-shadow: 0 0 8px rgba(32, 152, 209, 1);
}

#pluginAppObj_44_86 .hvr-shadow:hover, #pluginAppObj_44_86 .hvr-shadow:focus, #pluginAppObj_44_86 .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(32, 152, 209, 1);
}

#pluginAppObj_44_86 .hvr-grow-shadow:hover, #pluginAppObj_44_86 .hvr-grow-shadow:focus, #pluginAppObj_44_86 .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(32, 152, 209, 1);
}

#pluginAppObj_44_86 .hvr-box-shadow-outset:hover, #pluginAppObj_44_86 .hvr-box-shadow-outset:focus, #pluginAppObj_44_86 .hvr-box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(32, 152, 209, 1);
}

#pluginAppObj_44_86 .hvr-box-shadow-inset:hover, #pluginAppObj_44_86 .hvr-box-shadow-inset:focus, #pluginAppObj_44_86 .hvr-box-shadow-inset:active {
  box-shadow: inset 2px 2px 2px rgba(32, 152, 209, 1), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
/* Only this, cause it hide the shadow*/
#pluginAppObj_44_86 .hvr-float-shadow{
  overflow: visible;
}

#pluginAppObj_44_86 .hvr-float-shadow:before {
  background: -webkit-radial-gradient(center, ellipse, rgba(32, 152, 209, 1) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(32, 152, 209, 1) 0%, rgba(0, 0, 0, 0) 80%);
}

#pluginAppObj_44_86 .hvr-shadow-radial:before {
  background: -webkit-radial-gradient(50% 150%, ellipse, rgba(32, 152, 209, 1) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(32, 152, 209, 1) 0%, rgba(0, 0, 0, 0) 80%);
}

#pluginAppObj_44_86 .hvr-shadow-radial:after {
  background: -webkit-radial-gradient(50% -50%, ellipse, rgba(32, 152, 209, 1) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(32, 152, 209, 1) 0%, rgba(0, 0, 0, 0) 80%);
}

#pluginAppObj_44_86 .hvr-shadow-radial {
    overflow: inherit !important;
}

/*------ END CUSTOMIZING SHADOW COLOR -----------*/

/*------ START CUSTOMIZING BORDER SIZE -----------*/
#pluginAppObj_44_86 .hvr-border-fade:hover, #pluginAppObj_44_86 .hvr-border-fade:focus, #pluginAppObj_44_86 .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px rgba(185, 185, 0, 1), 0 0 1px rgba(0, 0, 0, 0);
}

#pluginAppObj_44_86 .hvr-trim:before {
  border: rgba(185, 185, 0, 1) solid 4px;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
}

#pluginAppObj_44_86 .hvr-ripple-out:before {
  border: rgba(185, 185, 0, 1) solid 4px;
}
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}

@keyframes hvr-ripple-out {
  100% {
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    opacity: 0;
  }
}

#pluginAppObj_44_86 .hvr-ripple-in:before {
  border: rgba(185, 185, 0, 1) solid 4px;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

#pluginAppObj_44_86 .hvr-outline-out:before {
  border: rgba(185, 185, 0, 1) solid 4px;

}
#pluginAppObj_44_86 .hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

#pluginAppObj_44_86 .hvr-outline-in:before {
  border: rgba(185, 185, 0, 1) solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
}
#pluginAppObj_44_86 .hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

#pluginAppObj_44_86 .hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
  border-radius:4px;
}

#pluginAppObj_44_86 .hvr-underline-from-left:before,
#pluginAppObj_44_86 .hvr-underline-from-center:before,
#pluginAppObj_44_86 .hvr-underline-from-right:before,
#pluginAppObj_44_86 .hvr-overline-from-left:before,
#pluginAppObj_44_86 .hvr-overline-from-center:before,
#pluginAppObj_44_86 .hvr-overline-from-right:before{
    height: 4px;
}

#pluginAppObj_44_86 .hvr-reveal:hover:before, #pluginAppObj_44_86 .hvr-reveal:focus:before, #pluginAppObj_44_86 .hvr-reveal:active:before {
  border-width: 4px;
}

#pluginAppObj_44_86 .hvr-underline-reveal:before{
    height: 4px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

#pluginAppObj_44_86 .hvr-overline-reveal:before {
  height: 4px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}
#pluginAppObj_44_86 .hvr-underline-reveal:hover:before, 
#pluginAppObj_44_86 .hvr-underline-reveal:focus:before, 
#pluginAppObj_44_86 .hvr-underline-reveal:active:before,
#pluginAppObj_44_86 .hvr-overline-reveal:hover:before, 
#pluginAppObj_44_86 .hvr-overline-reveal:focus:before, 
#pluginAppObj_44_86 .hvr-overline-reveal:active:before {
-webkit-transform: translateY(0);
transform: translateY(0);
}

#pluginAppObj_44_86 .hvr-border-background-switch {
  background-color: rgba(255, 255, 192, 1);
  box-shadow: inset 0 0 0 4px rgba(185, 185, 0, 1), 0 0 1px rgba(0, 0, 0, 0);
}
#pluginAppObj_44_86 .hvr-border-background-switch:hover,
#pluginAppObj_44_86 .hvr-border-background-switch:focus,
#pluginAppObj_44_86 .hvr-border-background-switch:active {
  background-color: rgba(185, 185, 0, 1);
  box-shadow: inset 0 0 0 4px rgba(255, 255, 192, 1), 0 0 1px rgba(0, 0, 0, 0);
}

}

/*------ END CUSTOMIZING BORDER SIZE -----------*/